.stock-full-info {
  height: 100%;
  width: 23%;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  margin: 20px 0px;
}
.stock-full-info ul {
  list-style-type: none;
  padding-left: 0px;
}
