.main-body {
  width: 70%;
  display: inline-block;
}

.main-body ul {
  text-align: center;
  padding-left: 0;
  max-height: 90vh;
  overflow: scroll;
}
.stock tr th {
  text-align: center;
}
.stock table {
  font-size: 10px;
  max-width: 200px;
  /*width: 100%;*/
  border-radius: 20px;
  background-color: transparent;
}
.stock tr:nth-child(odd) {
  background-color: rgba(138, 151, 161, 0.7);
}
.stock tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.41);
}
.stock {
  width: 200px;
  max-width: 200px;
  height: 220px;
  display: inline-block;
  margin: 20px 10px;
  border-radius: 20px;
  background-color:rgba(255, 255, 255, 0.5);
}
.stock:hover {
  background-color: rgba(178, 206, 207, 0.6);
}
.stock h3 {
  height: 50px;
  overflow-y: scroll;
  margin: 10px;
}
.stock .symbol {
  height: 55px;
  line-height: 55px;
}

@-webkit-keyframes flash {
    0% {
        background-color: rgb(107, 172, 214);
        opacity:1;
    }
    100% {
        background-color: rgba(255, 255, 255, 0.41);
    }
}

.flash {
    -webkit-animation-name: flash;
    -webkit-animation-duration: 400ms;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
}
